{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    .services-1{
    display: flex;
    background: -webkit-gradient( linear, left top, left bottom, from(rgba(0, 80, 213, 0.85)), to(rgba(0, 80, 213, 0.95)) ), url(../images/package-service-img.jpg) center/cover no-repeat;
    background: -o-linear-gradient(rgba(0, 80, 213, 0.85), rgba(0, 80, 213, 0.95)), url(../images/package-service-img.jpg) center/cover no-repeat;
    background: linear-gradient(rgba(0, 80, 213, 0.85), rgba(0, 80, 213, 0.95)), url(../images/package-service-img.jpg) center/cover no-repeat;
    font-family: Arial;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    justify-content: space-evenly;
    align-items: center;
    align-content: stretch;
    flex-wrap: wrap;
}
</style>
<main>
    <section id = "services" class = "services-1">
                
        <!-- End -->
    <style>
        .profile {
            margin:20px;
            text-align: center;
            justify-content: center;
          }
          .main-profile {
            box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
            margin-top: 7%;
          }
          .main-profile h2{
            text-align:center;
            box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
            width:fit-content;
            height:40px;
            color:white;
            font-family:cursive;    
          }
          .main-profile .cards table {
            border: none;
            font-size: 20px;
            font-weight: bolder;
            height:fit-content;
            width: 80%;
          }
          .sidenav{
            top:90px;
          }
          .modal-title {
            box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
              rgba(0, 0, 0, 0.22) 0px 15px 12px;
            background: rgb(255, 89, 114);
            text-align: center;
            color: white;
            font-family: cursive;
            font-size: 30px;
          }
          .para {
            box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
              rgba(0, 0, 0, 0.22) 0px 15px 12px;
            background: rgb(245, 123, 0);
            margin-top: 5%;
            margin-bottom: 7%;
          }
           .h-1 {
            
            width: fit-content;
            box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
              rgba(0, 0, 0, 0.22) 0px 15px 12px;
            background: cyan;
          }
          
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<!-- jQuery Modal -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css"
/>
        <!-- Sidenav -->
        <div class="sidenav">
            <div class="profile" >
                {% if data.img %}
                <img src="/media/{{data.img}}" alt="" width="250" height="230">
                {% else %}
                <img src="{% static 'images/default.png' %}" alt="" width="250" height="230">
                {% endif %}
                <div class="name">
                    {{user.first_name.upper}} {{user.last_name.upper}}
                </div>
                <div class="job">
                    {{data.occupation}}
                </div>
            </div>
            
            <div class="sidenav-url">
                <div class="url">
                    <a href="{% url 'profile' %}" class="active">PROFILE</a>
                    <hr align="center">
                </div>
                <div class="url">
                    <a href="{% url 'edit_profile' %}">EDIT</a>
                    <hr align="center">
                </div>
                <div class="url">
                    <a href="{% url 'change_pass' %}">CHANGE PWD</a>
                    <hr align="center">
                </div>
          
                <div class="url">
                    <a href="{% url 'prediction_history' %}">PREDICTION HISTORY</a>
                    <hr align="center">
                </div>
                <div class="url">
                  <a href="#ex4" rel="modal:open" class="button">SIGNOUT</a>
                  <hr align="center">
                </div>
              
                <div class="url">
                    <a href="#ex5" rel="modal:open" class="btn btn-light">DELETE PROFILE</a>
                    <hr align="center">
                </div>
            </div>
        </div>
         <!--popup OF danger HEART-->
     <div id="ex5" class="modal">
        <div class="caution">
          <img src="{% static 'images/warning.gif' %}" alt="" />
        </div>
        <div class="h-1">
          <h1>After Deleting you cannot restore your account data !!</h1>
        </div>
  
        <div class="para">
          <h2>
            we wil completely remove all your data which is stored inside our database !!! 
          </h2>
        </div>
        <div class="beta">
          <a class="btn btn-primary" href="{% url 'delete_prof' %}">CONFIRM</a>
        </div>
      </div>
      <div id="ex4" class="modal">
        <div class="caution">
          <img src="{% static 'images/warning.gif' %}" alt="" />
        </div>
        <div class="h-1">
          <h1>Till you come back again we will keep your data safe!!</h1>
        </div>
  
        <div class="para">
          <h2>
            Come back soon {{user.first_name.upper}} 
          </h2>
        </div>
        <div class="beta">
          <a class="btn btn-primary" href="{% url 'user_logout' %}">CONFIRM</a>
        </div>
      </div>
        <!-- End -->
        <!--dynamic part-->
        <div class="main-profile">
            {% block dashboard %}

            {% endblock dashboard %}
        </div>
    </section>
    <!-- end of services section -->
    </header>
    </main>
{% endblock content %}